<div class="row section featured topspace">

    <h2 class="section-title"><span>Experience</span></h2>

    <div class="">
        {{ range where .Data.Pages.ByWeight "Section" "experience" }}
            <div class="experience col-sm-6 col-md-4">
                <div class="ex-header">
                    <h3 class="ex-title">{{ .Title }}</h3>
                    <div class="ex-subtitle">{{ .Params.Position }}</div>
                </div>
                <p>{{ .Summary }}</p>
                <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">Read more</a></p>
            </div>
        {{ end }}
    </div>

</div> <!-- / section -->
