<div class="row section clients">
    <h2 class="section-title"><span>Resume</span></h2>
    
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p> If you would like this lovely website in the traditional resume <b>PDF</b> form, just go ahead and <b>Click</b> that button.</p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="downloads/Resume.pdf" class="btn btn-primary btn-lg" download>Download Resume PDF</a>
            </div>
        </div>
    </div>
</div> <!-- /section -->
